<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb0eb207-0fa1-4ca3-9e74-be30eb26587d" Alias="Home" Level="2">
  <Info>
    <Parent Key="46639f92-bf68-413a-a89d-14c1c9d5e817">Main</Parent>
    <Path>/Main/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2025-08-19T16:27:25</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad2c8c6e-1899-47d5-b2b8-6412f4649f87">Link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "Main",
    "target": null,
    "udi": "umb://document/46639f92bf68413aa89d14c1c9d5e817",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>