<?xml version="1.0" encoding="utf-8"?>
<Content Key="71a0f3a8-0b4b-4eb2-a596-451e1e894ca2" Alias="IT" Level="2">
  <Info>
    <Parent Key="46639f92-bf68-413a-a89d-14c1c9d5e817">Intranet</Parent>
    <Path>/Intranet/IT</Path>
    <Trashed>false</Trashed>
    <ContentType>subsite</ContentType>
    <CreateDate>2025-08-20T09:59:18</CreateDate>
    <NodeName Default="IT" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2f049693-26e4-44f1-ac6a-fb72724c4d4c">home</Template>
  </Info>
  <Properties>
    <additionalNavBarLinks>
      <Value><![CDATA[]]></Value>
    </additionalNavBarLinks>
    <footerText>
      <Value><![CDATA[]]></Value>
    </footerText>
    <pageTitle>
      <Value><![CDATA[Information Technology]]></Value>
    </pageTitle>
    <showTopBar>
      <Value><![CDATA[0]]></Value>
    </showTopBar>
    <siteLogo>
      <Value><![CDATA[]]></Value>
    </siteLogo>
    <socialLinks>
      <Value><![CDATA[]]></Value>
    </socialLinks>
    <topBarLinks>
      <Value><![CDATA[]]></Value>
    </topBarLinks>
    <widgets>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "230c0a1e-33eb-4707-844d-d01084c0aece",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe Information Technology Department supports all district technology and services. Our department is responsible for internet connectivity, network infrastructure, wireless technology, business applications, education systems, system integration, and technical support in alignment with GGUSD Strategic Plans. Our mission is to provide our students and staff with robust technology to enrich our students learning so they can achieve life-long success.\u003C/p\u003E"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Welcome to the GGUSD Information Technology Webpage"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "ebb104da-960d-4276-8a8d-c9b7b397d64d",
      "udi": null,
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "230c0a1e-33eb-4707-844d-d01084c0aece",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "230c0a1e-33eb-4707-844d-d01084c0aece",
        "contentUdi": null,
        "settingsKey": "ebb104da-960d-4276-8a8d-c9b7b397d64d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </widgets>
  </Properties>
</Content>