<?xml version="1.0" encoding="utf-8"?>
<Content Key="46639f92-bf68-413a-a89d-14c1c9d5e817" Alias="Main" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Main</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2025-07-31T16:54:11</CreateDate>
    <NodeName Default="Main" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2f049693-26e4-44f1-ac6a-fb72724c4d4c">home</Template>
  </Info>
  <Properties>
    <additionalNavBarLinks>
      <Value><![CDATA[]]></Value>
    </additionalNavBarLinks>
    <footerText>
      <Value><![CDATA[]]></Value>
    </footerText>
    <pageTitle>
      <Value><![CDATA[Garden Grove Unified School District]]></Value>
    </pageTitle>
    <showTopBar>
      <Value><![CDATA[0]]></Value>
    </showTopBar>
    <siteLogo>
      <Value><![CDATA[]]></Value>
    </siteLogo>
    <socialLinks>
      <Value><![CDATA[]]></Value>
    </socialLinks>
    <topBarLinks>
      <Value><![CDATA[]]></Value>
    </topBarLinks>
    <widgets>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "efc614c3-34dd-4262-b6f2-3514575b3ac6",
      "key": "0c2e6365-89a0-41e4-bfc5-f1416540d4dc",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "test heading"
        },
        {
          "alias": "accordionList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "88e6d25f-4731-4647-b5f7-35996557c965",
                "udi": null,
                "values": [
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EText goes here\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Test Acc Title"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "88e6d25f-4731-4647-b5f7-35996557c965",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "88e6d25f-4731-4647-b5f7-35996557c965",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d681d8f7-2567-493c-b16d-684842ebb6dd",
      "key": "3d6ac9e5-a93c-4cb0-9daf-fe72b2f971b5",
      "udi": null,
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "alias",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test Accordion"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0c2e6365-89a0-41e4-bfc5-f1416540d4dc",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0c2e6365-89a0-41e4-bfc5-f1416540d4dc",
        "contentUdi": null,
        "settingsKey": "3d6ac9e5-a93c-4cb0-9daf-fe72b2f971b5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </widgets>
  </Properties>
</Content>