<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7234909a-9535-4b59-800a-3350d287f711" Alias="[Block List] Slider Items" Level="2">
  <Info>
    <Name>[Block List] Slider Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
      "editorSize": "full"
    }
  ]
}]]></Config>
</DataType>