<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48a90d63-b745-41da-ba4a-67669830b1fe" Alias="[Block List] Icon Box List" Level="2">
  <Info>
    <Name>[Block List] Icon Box List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
      "label": "Icon Box: {umbValue: title}"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>