<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a2ca282-d593-4e23-9bde-43cfe324c6d4" Alias="[Block List] Widgets" Level="1">
  <Info>
    <Name>[Block List] Widgets</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "efc614c3-34dd-4262-b6f2-3514575b3ac6",
      "settingsElementTypeKey": "d681d8f7-2567-493c-b16d-684842ebb6dd",
      "label": "Accordion: { heading == \u0027\u0027 ? $settings.alias : heading } { $settings.blockVisibility == \u00271\u0027 ? \u0027- (HIDDEN)\u0027 : \u0027\u0027 }"
    }
  ]
}]]></Config>
</DataType>