<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb0083f7-3766-4239-9bd0-93d69bdaaabb" Alias="[Block List] Tab List" Level="2">
  <Info>
    <Name>[Block List] Tab List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b7797b89-78d9-4969-8c82-347464ec3f74",
      "editorSize": "full"
    }
  ]
}]]></Config>
</DataType>