<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89c3a388-128a-4c99-917e-ea3a7b80bce8" Alias="[Block List] Accordion List" Level="2">
  <Info>
    <Name>[Block List] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
      "label": "{umbValue: title}",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%",
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>