<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bfae967-5b7b-40ed-bd79-d937fc09f550" Alias="[Block List] Additional NavBar Links" Level="2">
  <Info>
    <Name>[Block List] Additional NavBar Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ffbaa9ee-77a1-46c4-9145-a34bda4ac756",
      "label": "{{navName}}",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>