<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf7bd99f-3d04-432f-9c07-c87d9566e3e9" Alias="[Block List] Videos" Level="2">
  <Info>
    <Name>[Block List] Videos</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bf9dde8f-204a-4e54-be46-9a280380afaf",
      "editorSize": "full"
    },
    {
      "contentElementTypeKey": "ac7be2a3-4190-42ff-8af7-c55f9328ceb4",
      "editorSize": "full"
    },
    {
      "contentElementTypeKey": "790d864a-3878-408d-bc07-1d086edd0821",
      "editorSize": "full"
    }
  ]
}]]></Config>
</DataType>