<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a2ca282-d593-4e23-9bde-43cfe324c6d4" Alias="[Block List] Widgets" Level="2">
  <Info>
    <Name>[Block List] Widgets</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "efc614c3-34dd-4262-b6f2-3514575b3ac6",
      "settingsElementTypeKey": "d681d8f7-2567-493c-b16d-684842ebb6dd",
      "label": "Accordion: {=heading | title-case}"
    },
    {
      "contentElementTypeKey": "aee97b52-040c-4c16-9333-ffe1cbfadec7",
      "settingsElementTypeKey": "99699fcb-87b4-4331-9017-ac3394ed7caa",
      "label": "Calendar - "
    },
    {
      "contentElementTypeKey": "102029c0-3a48-4c8b-9558-a5ef271af5f8",
      "editorSize": "full"
    },
    {
      "contentElementTypeKey": "f3144031-9b19-4322-9a24-dadbba7e820e",
      "label": "Heading",
      "editorSize": "full",
      "settingsElementTypeKey": "fa8b1339-cad6-4e05-9695-f65367c32ad9"
    },
    {
      "contentElementTypeKey": "1cfec9b2-16ef-48bd-ad2b-a9e94feef180",
      "settingsElementTypeKey": "22adda31-427c-4baf-87c7-6dff89354a03",
      "editorSize": "full",
      "label": "Hero - "
    },
    {
      "contentElementTypeKey": "8c4ef08f-d620-4e32-9fde-0d367c5549fe",
      "settingsElementTypeKey": "f31ba0cb-1be7-43f4-ae3e-91d4d1afd7c8",
      "editorSize": "full",
      "label": "Icon Boxes - "
    },
    {
      "contentElementTypeKey": "812c4554-c6cd-4760-86ec-fad27d86025e",
      "settingsElementTypeKey": "a1efc6b7-ab12-4faf-934f-ada3a76a3283",
      "editorSize": "full",
      "label": "Side/Top Bar - "
    },
    {
      "contentElementTypeKey": "ddddc614-4714-42a9-81ca-2b1246a57f80",
      "settingsElementTypeKey": "a1efc6b7-ab12-4faf-934f-ada3a76a3283",
      "label": "Tabs - "
    },
    {
      "contentElementTypeKey": "82473749-a823-4a58-94a5-8a7947a3db3a",
      "settingsElementTypeKey": "d92a3856-c39c-4581-8b0f-97c33a4de57e",
      "editorSize": "full",
      "label": "Gallery - "
    },
    {
      "contentElementTypeKey": "f7236158-7ae3-47aa-a4de-552f0135b2d9",
      "settingsElementTypeKey": "0841955a-e3de-4f8e-b0d0-16c5ba49412a",
      "label": "Photo Swiper - ",
      "editorSize": "full"
    },
    {
      "contentElementTypeKey": "157511fd-3037-4599-84ae-1842170b39f5",
      "settingsElementTypeKey": "88ee1ef5-3f8b-47f9-98cb-df4649e1da63",
      "label": "Slider - ",
      "editorSize": "full"
    },
    {
      "contentElementTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "label": "Text - ",
      "settingsElementTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f"
    },
    {
      "contentElementTypeKey": "0a995791-eb04-4dfb-9597-0048300f208e",
      "editorSize": "full",
      "label": "Videos - ",
      "settingsElementTypeKey": "0a7df7eb-7caf-44f0-9993-0b84553f08b4"
    }
  ]
}]]></Config>
</DataType>