<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1adabbc8-1e84-4e8b-b7e2-b5a455923ecd" Alias="[Code Editor] Custom Code - JS" Level="2">
  <Info>
    <Name>[Code Editor] Custom Code - JS</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "fontSize": "small",
  "maxLines": 200,
  "minLines": 12,
  "mode": "javascript",
  "theme": "chrome",
  "useWrapMode": true
}]]></Config>
</DataType>