<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82e7d402-ba2c-4a9c-aaa2-165d099a9e08" Alias="[Code Editor] Custom Code - Razor (cshtml)" Level="2">
  <Info>
    <Name>[Code Editor] Custom Code - Razor (cshtml)</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "fontSize": "small",
  "maxLines": 200,
  "minLines": 12,
  "mode": "razor",
  "theme": "chrome",
  "useWrapMode": true
}]]></Config>
</DataType>