<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe46ac0a-69b4-425a-947d-ed9b8366314e" Alias="[Color Picker] Text Color" Level="2">
  <Info>
    <Name>[Color Picker] Text Color</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "showAlpha": true,
  "showPalette": true
}]]></Config>
</DataType>