<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3cbef694-0ccd-4740-b520-c374bff4e34d" Alias="[Conditional Radio] Side/Top Bar - Display Options" Level="2">
  <Info>
    <Name>[Conditional Radio] Side/Top Bar - Display Options</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdRadio</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "alignHrz": true,
  "asBtn": true,
  "default": "None",
  "items": [
    {
      "value": "Only Sibling",
      "show": "",
      "hide": ""
    },
    {
      "value": "Only Child",
      "show": "",
      "hide": ""
    },
    {
      "value": "Self \u002B Child",
      "show": "",
      "hide": ""
    },
    {
      "value": "Parent \u002B Self \u002B Siblings",
      "show": "",
      "hide": ""
    },
    {
      "value": "None",
      "show": "",
      "hide": ""
    }
  ],
  "labelsPos": "Right"
}]]></Config>
</DataType>