<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c558a73-0ead-4d25-ae23-97b9aa7ba091" Alias="[Contentment Note] Videos" Level="2">
  <Info>
    <Name>[Contentment Note] Videos</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.Notes</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "hideLabel": true,
  "notes": {
    "markup": "\u003Cp style=\u0022color: red;\u0022\u003E\u003Cstrong\u003EStyle 2 (Settings) will only work with Local Videos. Do not add a Youtube/Google video if Style 2 is selected.\u003C/strong\u003E\u003C/p\u003E",
    "blocks": {
      "layout": {},
      "contentData": [],
      "settingsData": [],
      "expose": []
    }
  }
}]]></Config>
</DataType>