<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad8a1318-2ef8-48da-b93b-8a552bb4c3a1" Alias="[Contentment Note] Calendar" Level="2">
  <Info>
    <Name>[Contentment Note] Calendar</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.EditorNotes</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "alertType": "warning",
  "icon": "icon-alert-alt color-yellow",
  "message": {
    "markup": "\u003Cp\u003E\u003Cstrong\u003EGoogle Calendar needs to be Public:\u003Cbr\u003E\u003C/strong\u003EOn Google Calendar Settings, make sure under the \u0022Access permissions for events\u0022 section, check the box next to \u0022Make available to the public\u0022.\u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003ECache:\u003Cbr\u003E\u003C/strong\u003EGoogle Calendar events are cached locally. This means that changes to the calendar events may take up to 15 minutes to be reflected on this web page.\u003C/p\u003E",
    "blocks": {
      "layout": {},
      "contentData": [],
      "settingsData": [],
      "expose": []
    }
  }
}]]></Config>
</DataType>