<?xml version="1.0" encoding="utf-8"?>
<DataType Key="541d51cd-8767-4844-82c0-6304853740c5" Alias="[Data List] Gutter Spacing" Level="3">
  <Info>
    <Name>[Data List] Gutter Spacing</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom+Content/Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "none",
            "value": "no-gutters",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "xxs",
            "value": "gutters-xxs",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "xs",
            "value": "gutters-xs",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "sm",
            "value": "gutters-sm",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "med",
            "value": "gutters-md",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "lg",
            "value": "gutters-lg",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "xl",
            "value": "gutters-xl",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "s",
        "labelStyle": "text",
        "allowClear": true,
        "enableMultiple": false,
        "look": "placeholder"
      }
    }
  ]
}]]></Config>
</DataType>