<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7197b349-d3c1-43d5-9a1d-3f827efd4884" Alias="[Data List] - Container Width" Level="3">
  <Info>
    <Name>[Data List] - Container Width</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom+Content/Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Narrow",
            "value": "small",
            "icon": "icon-stop",
            "description": ""
          },
          {
            "name": "Standard",
            "value": "standard",
            "icon": "icon-stop",
            "description": ""
          },
          {
            "name": "Wide",
            "value": "big",
            "icon": "icon-stop",
            "description": ""
          },
          {
            "name": "Full Width",
            "value": "full width",
            "icon": "icon-stop",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "labelStyle": "text",
        "look": "placeholder",
        "size": "s",
        "allowClear": true,
        "enableMultiple": false
      }
    }
  ]
}]]></Config>
</DataType>