<?xml version="1.0" encoding="utf-8"?>
<DataType Key="205b90f2-8b6b-4b45-9a01-6788fef49715" Alias="[Data List] Vertical Spacing" Level="3">
  <Info>
    <Name>[Data List] Vertical Spacing</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom+Content/Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "None",
            "value": "py-0",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "x-small",
            "value": "py-3",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "small",
            "value": "py-4",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "medium",
            "value": "py-5",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "large",
            "value": "py-6",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "x-large",
            "value": "py-7",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "labelStyle": "text",
        "look": "placeholder",
        "size": "s",
        "allowClear": true,
        "enableMultiple": false
      }
    }
  ]
}]]></Config>
</DataType>