<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80b98a8b-20e9-4d44-9183-feecef8dff9e" Alias="[Data List] Layout Styles" Level="3">
  <Info>
    <Name>[Data List] Layout Styles</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom+Content/Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Default",
            "value": "Default",
            "icon": "icon-stop",
            "description": ""
          },
          {
            "name": "Style 2",
            "value": "Style 2",
            "icon": "icon-stop",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "labelStyle": "text",
        "look": "placeholder",
        "size": "s",
        "allowClear": true,
        "enableMultiple": false
      }
    }
  ]
}]]></Config>
</DataType>