<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bdc30cf-5dee-41ea-95b0-e441897a05b4" Alias="[Data List] Profile Image Style" Level="3">
  <Info>
    <Name>[Data List] Profile Image Style</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom+Content/Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "portrait",
            "value": "portrait",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "square",
            "value": "square",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "circle",
            "value": "circle",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "labelStyle": "text",
        "look": "placeholder",
        "size": "s",
        "allowClear": true,
        "enableMultiple": false
      }
    }
  ]
}]]></Config>
</DataType>