<?xml version="1.0" encoding="utf-8"?>
<DataType Key="114ae6ef-75d8-45d2-8af9-0a9f8ef2adf9" Alias="[Data List] - Horizontal Alignment Grid" Level="3">
  <Info>
    <Name>[Data List] - Horizontal Alignment Grid</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom+Content/Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "left",
            "value": "justify-items: start",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "center",
            "value": "justify-items: center",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "right",
            "value": "justify-items: end",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "stretch",
            "value": "justify-items: stretch",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "labelStyle": "text",
        "look": "placeholder",
        "size": "s",
        "allowClear": true,
        "enableMultiple": false
      }
    }
  ]
}]]></Config>
</DataType>