<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97c7e0ef-97d7-4124-8441-5a46ce8102ca" Alias="[Data List] Text Alignment" Level="3">
  <Info>
    <Name>[Data List] Text Alignment</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom+Content/Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Left",
            "value": "text-left",
            "icon": "icon-stop",
            "description": ""
          },
          {
            "name": "Center",
            "value": "text-center",
            "icon": "icon-stop",
            "description": ""
          },
          {
            "name": "Right",
            "value": "text-right",
            "icon": "icon-stop",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "labelStyle": "text",
        "look": "placeholder",
        "size": "s",
        "allowClear": true,
        "enableMultiple": false
      }
    }
  ]
}]]></Config>
</DataType>