<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98786ea5-77c8-4ac1-942f-48c9d0f97409" Alias="[Icon Picker] Icon Picker" Level="2">
  <Info>
    <Name>[Icon Picker] Icon Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.IconPicker</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.IconPicker</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "size": "small"
}]]></Config>
</DataType>