<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86411b6e-e125-4e79-bb66-b20d71be16d7" Alias="[Multiple Text Strings] Classnames" Level="2">
  <Info>
    <Name>[Multiple Text Strings] Classnames</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>