<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64d5ba33-f28f-44dd-9199-503d60e2dae3" Alias="Navigation Link - Single URL Picker Property Editor UI" Level="1">
  <Info>
    <Name>Navigation Link - Single URL Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0,
  "overlaySize": "full"
}]]></Config>
</DataType>