<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca90c950-0aff-4e72-b976-a30b1ac57dad" Alias="Richtext editor" Level="2">
  <Info>
    <Name>Richtext editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>Umbraco+Generated</Folder>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.Embed",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.Figure",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.Underline",
    "Umb.Tiptap.TextAlign",
    "Umb.Tiptap.MediaUpload",
    "Umb.Tiptap.WordCount"
  ],
  "maxImageSize": 500,
  "overlaySize": "full",
  "statusbar": [
    [
      "Umb.Tiptap.Statusbar.WordCount",
      "Umb.Tiptap.Statusbar.ElementPath"
    ]
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.Underline"
      ],
      [
        "Umb.Tiptap.Toolbar.TextAlignLeft",
        "Umb.Tiptap.Toolbar.TextAlignCenter",
        "Umb.Tiptap.Toolbar.TextAlignRight"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList"
      ],
      [
        "Umb.Tiptap.Toolbar.Blockquote",
        "Umb.Tiptap.Toolbar.HorizontalRule"
      ],
      [
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.MediaPicker",
        "Umb.Tiptap.Toolbar.EmbeddedMedia",
        "Umb.Tiptap.Toolbar.CharacterMap",
        "Umb.Tiptap.Toolbar.Subscript",
        "Umb.Tiptap.Toolbar.Superscript",
        "Umb.Tiptap.Toolbar.Strike",
        "Umb.Tiptap.Toolbar.TextAlignJustify",
        "Umb.Tiptap.Toolbar.TextColorForeground",
        "Umb.Tiptap.Toolbar.Table"
      ]
    ]
  ]
}]]></Config>
</DataType>