<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08dfe1c9-c6a9-4cc4-807f-4c178402ec79" Alias="[Slider] Block Width" Level="2">
  <Info>
    <Name>[Slider] Block Width</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "initVal1": 1,
  "initVal2": 0,
  "maxVal": 12,
  "minVal": 1,
  "step": 1
}]]></Config>
</DataType>