<?xml version="1.0" encoding="utf-8"?>
<DataType Key="849e6e38-6047-4552-920e-2443eba59634" Alias="[Slider] Padding" Level="2">
  <Info>
    <Name>[Slider] Padding</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 100,
  "minVal": 0,
  "step": 20
}]]></Config>
</DataType>