<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3d302f6-c58a-4e04-b01d-823730c6ee44" Alias="[Slider] Opacity" Level="2">
  <Info>
    <Name>[Slider] Opacity</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "initVal1": 10,
  "initVal2": 0,
  "maxVal": 100,
  "minVal": 10,
  "step": 5
}]]></Config>
</DataType>