<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7cb8b8ab-ab9a-48d9-9ee1-ca1979b3d56a" Alias="[Slider] Height" Level="2">
  <Info>
    <Name>[Slider] Height</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "initVal1": 25,
  "initVal2": 0,
  "maxVal": 100,
  "minVal": 25,
  "step": 5
}]]></Config>
</DataType>