<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b747186-bfe3-432d-9f89-661355097bab" Alias="[Slider] Item Per Row" Level="2">
  <Info>
    <Name>[Slider] Item Per Row</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 6,
  "minVal": 0,
  "step": 1
}]]></Config>
</DataType>