<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01f57d54-0aef-4964-80f1-e9f99599408a" Alias="[Slider] Delay Time" Level="2">
  <Info>
    <Name>[Slider] Delay Time</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 10,
  "initVal2": 0,
  "maxVal": 60,
  "minVal": 10,
  "step": 5
}]]></Config>
</DataType>