<?xml version="1.0" encoding="utf-8"?>
<DataType Key="adadb998-829d-4532-898e-2a23eadfde75" Alias="[Slider] Text Width" Level="2">
  <Info>
    <Name>[Slider] Text Width</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "initVal1": 10,
  "initVal2": 0,
  "maxVal": 100,
  "minVal": 10,
  "step": 10
}]]></Config>
</DataType>