<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be72ac5b-89e6-40db-a698-2b7cf2acb049" Alias="[Slider] Gallery Group" Level="2">
  <Info>
    <Name>[Slider] Gallery Group</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 2,
  "initVal2": 0,
  "maxVal": 8,
  "minVal": 2,
  "step": 1
}]]></Config>
</DataType>