<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31f449af-5aeb-4330-8986-e59b13f25183" Alias="[Slider] Gutter Size" Level="2">
  <Info>
    <Name>[Slider] Gutter Size</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "initVal1": 10,
  "initVal2": 20,
  "maxVal": 100,
  "minVal": 10,
  "step": 10
}]]></Config>
</DataType>