<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5614e9b1-3462-40e3-a43d-7726aedfa51a" Alias="[Social] - Social Media Links" Level="2">
  <Info>
    <Name>[Social] - Social Media Links</Name>
    <EditorAlias>Umbraco.Community.Contentment.SocialLinks</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.SocialLinks</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "confirmRemoval": true,
  "networks": [
    {
      "key": "network",
      "value": {
        "network": "facebook",
        "name": "Facebook",
        "url": "https://facebook.com/",
        "icon": "icon-facebook",
        "backgroundColor": "#3b5998",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "x-twitter",
        "name": "X (formerly Twitter)",
        "url": "https://twitter.com/",
        "icon": "icon-x-twitter",
        "backgroundColor": "#000",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "instagram",
        "name": "Instagram",
        "url": "https://instagram.com/",
        "icon": "icon-instagram",
        "backgroundColor": "#305777",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "linkedin",
        "name": "LinkedIn",
        "url": "https://linkedin.com/in/",
        "icon": "icon-linkedin",
        "backgroundColor": "#007bb6",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "mastodon",
        "name": "Mastodon",
        "url": "https://mastodon.social/",
        "icon": "icon-mastodon",
        "backgroundColor": "#5b4be1",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "youtube",
        "name": "YouTube",
        "url": "https://youtube.com/",
        "icon": "icon-youtube",
        "backgroundColor": "#f00",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "github",
        "name": "GitHub",
        "url": "https://github.com/",
        "icon": "icon-github",
        "backgroundColor": "#000",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "discord",
        "name": "Discord",
        "url": "https://discord.com/users/",
        "icon": "icon-discord",
        "backgroundColor": "#404eed",
        "iconColor": "#fff"
      }
    }
  ]
}]]></Config>
</DataType>