<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8bb931fd-83e3-40f3-b590-9cc1fe7770bc" Alias="[Toggle] Visibility" Level="2">
  <Info>
    <Name>[Toggle] Visibility</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>Custom+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ariaLabel": "on",
  "default": true,
  "labelOff": "hidden",
  "labelOn": "visible",
  "showLabels": true
}]]></Config>
</DataType>