<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d681d8f7-2567-493c-b16d-684842ebb6dd" Alias="accordionSettings" Level="3">
  <Info>
    <Name>Accordion Settings</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Accordion</Folder>
    <Compositions>
      <Composition Key="5f78746d-6566-4c80-ab32-7ca4a4e1d04a">baseAdvancedSettings</Composition>
      <Composition Key="ae4b16ce-a7b0-478d-8012-ea970a048e61">baseAppearanceSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>82c2182e-11e9-4e10-8e82-9cbc3dc8b82c</Key>
      <Name>Item Prefix</Name>
      <Alias>itemPrefix</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add Q/A prefix label to each]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blockBehavior">Block Behavior</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12b92d77-3b56-4732-a9f0-dc1ecee4f537</Key>
      <Name>Show First Item</Name>
      <Alias>showFirstItem</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Automatically expand the first item.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="blockBehavior">Block Behavior</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>60e9757d-0b85-4a13-a138-aa624ff505e3</Key>
      <Caption>Block Behavior</Caption>
      <Alias>blockBehavior</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>