<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f78746d-6566-4c80-ab32-7ca4a4e1d04a" Alias="baseAdvancedSettings" Level="3">
  <Info>
    <Name>[Settings] Base Advanced</Name>
    <Icon>icon-document-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/%5bBase+Settings%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9407ef84-3afa-4c3e-90f3-43ced6c045e5</Key>
      <Name>Anchor ID</Name>
      <Alias>anchorId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="advancedSettings">Advanced Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4bdcc4a-6b51-4dbd-ac5c-3f4bec12524e</Key>
      <Name>Block Visibility</Name>
      <Alias>blockVisibility</Alias>
      <Definition>8bb931fd-83e3-40f3-b590-9cc1fe7770bc</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Prevent this block to from showing up on a webpage.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="advancedSettings">Advanced Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0425d0d4-e5cf-4dcc-bcad-11afd5cf44ee</Key>
      <Name>Classnames</Name>
      <Alias>classnames</Alias>
      <Definition>86411b6e-e125-4e79-bb66-b20d71be16d7</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advancedSettings">Advanced Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f58f6032-fcf6-4383-ba48-4cbdbfd05516</Key>
      <Caption>Advanced Settings</Caption>
      <Alias>advancedSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>