<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aee97b52-040c-4c16-9333-ffe1cbfadec7" Alias="calendar" Level="3">
  <Info>
    <Name>Calendar</Name>
    <Icon>icon-calendar-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Display events from a public Google Calendar</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Calendar</Folder>
    <Compositions>
      <Composition Key="2de152b5-b7d5-45aa-bb65-d8605ac0b6c7">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b899fe4c-1ff8-4a04-8bd0-1cec15f6b819</Key>
      <Name>Google Calendar ID</Name>
      <Alias>googleCalendarId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="googleDetails">Google Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>758c4c40-8e1e-4948-98d9-62a62124d1e6</Key>
      <Name>Note</Name>
      <Alias>note</Alias>
      <Definition>ad8a1318-2ef8-48da-b93b-8a552bb4c3a1</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="googleDetails">Google Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ef4df0b2-4e73-4884-8884-c69ec12fdfb1</Key>
      <Caption>Google Details</Caption>
      <Alias>googleDetails</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>