<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da53e7ee-644c-4195-b688-5ba9b4ffb5a8" Alias="linkPage" Level="2">
  <Info>
    <Name>Link</Name>
    <Icon>icon-link color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Base</Folder>
    <Compositions />
    <DefaultTemplate>Link</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ad2c8c6e-1899-47d5-b2b8-6412f4649f87">Link</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da53e7ee-644c-4195-b688-5ba9b4ffb5a8" SortOrder="0">linkPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>03e46e6f-8635-4682-b93f-757a26d9d6ad</Key>
      <Name>Link URL</Name>
      <Alias>linkUrl</Alias>
      <Definition>d0ce82f4-012d-445d-a801-06ff75bc7dc1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22b5a55d-5b57-4674-b93e-69d8192ba1d6</Key>
      <Name>sideBarNaviHide</Name>
      <Alias>sideBarNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="preferences">Preferences</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f41da825-aa8a-4806-9207-d240242b884c</Key>
      <Name>umbracoNaviHide</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="preferences">Preferences</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>043e428d-e53a-427d-b04f-4ebceb995ae1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d8ad3afc-324c-4c0f-959e-b44cfc891ef8</Key>
      <Caption>Preferences</Caption>
      <Alias>preferences</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>