<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0841955a-e3de-4f8e-b0d0-16c5ba49412a" Alias="photoSwiperSettings" Level="3">
  <Info>
    <Name>Photo Swiper Settings</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Photo+Swiper</Folder>
    <Compositions>
      <Composition Key="5f78746d-6566-4c80-ab32-7ca4a4e1d04a">baseAdvancedSettings</Composition>
      <Composition Key="ae4b16ce-a7b0-478d-8012-ea970a048e61">baseAppearanceSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d3d9baaa-5feb-49dc-9cc0-6b1b576dbfc6</Key>
      <Name>Disable Image Zoom</Name>
      <Alias>disableImageZoom</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Images will not be clickable]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="blockBehavior">Block Behavior</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0d936cd2-3790-4ece-b20c-35609b464568</Key>
      <Name>Group</Name>
      <Alias>group</Alias>
      <Definition>be72ac5b-89e6-40db-a698-2b7cf2acb049</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Place your gallery images in groups between 1-8. If 10 images are added and the group is set to 8, the widget will display one 8 group and one 2 group.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blockBehavior">Block Behavior</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eeef1be2-9833-41e3-ab61-e86ce004a1c6</Key>
      <Name>Gutter Size</Name>
      <Alias>gutterSize</Alias>
      <Definition>31f449af-5aeb-4330-8986-e59b13f25183</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the space between the images using this slider]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="blockBehavior">Block Behavior</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>861f38cc-0883-4bc4-bc79-8806538ae2f3</Key>
      <Name>Remove Gutter</Name>
      <Alias>removeGutter</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Removes the space between images]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="blockBehavior">Block Behavior</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d26629b0-085e-4c59-b315-2143013e63c7</Key>
      <Caption>Block Behavior</Caption>
      <Alias>blockBehavior</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>