<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="812c4554-c6cd-4760-86ec-fad27d86025e" Alias="sideTopBar" Level="3">
  <Info>
    <Name>Side/Top Bar</Name>
    <Icon>icon-blockquote color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Create a sub navbar or side nav (if used in Block Line Widget or as blockgrid)</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Navigation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>521001ad-28c7-4e69-9b28-cae0dc2ccaa0</Key>
      <Name>Additional Sub Links</Name>
      <Alias>additionalSubLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d88db1eb-8254-4bbf-a9c2-fdf769d25f65</Key>
      <Name>Options Display Style</Name>
      <Alias>displayOptions</Alias>
      <Definition>3cbef694-0ccd-4740-b520-c374bff4e34d</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose how you want the sub nav to look like]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="appearance">Appearance</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00191564-7604-43e2-90e8-ec53a4a1b429</Key>
      <Name>Self Name &amp; Link</Name>
      <Alias>selfNameLink</Alias>
      <Definition>d0ce82f4-012d-445d-a801-06ff75bc7dc1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[use the link name to provide title to the link]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>50667384-49ad-41b4-a9f3-e88d325811cf</Key>
      <Caption>Appearance</Caption>
      <Alias>appearance</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f209e55a-16ee-4846-9c03-1bc96c1000a8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>