<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88ee1ef5-3f8b-47f9-98cb-df4649e1da63" Alias="sliderSettings" Level="3">
  <Info>
    <Name>Slider Settings</Name>
    <Icon>icon-settings color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Slider</Folder>
    <Compositions>
      <Composition Key="5f78746d-6566-4c80-ab32-7ca4a4e1d04a">baseAdvancedSettings</Composition>
      <Composition Key="ae4b16ce-a7b0-478d-8012-ea970a048e61">baseAppearanceSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>405081bc-9be8-4ab4-a002-f3a992ddfbca</Key>
      <Name>Slider Timing</Name>
      <Alias>sliderTiming</Alias>
      <Definition>01f57d54-0aef-4964-80f1-e9f99599408a</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="advancedSettings">Advanced Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9050680d-790e-4b98-b151-bb538cf1c53d</Key>
      <Caption>Advanced Settings</Caption>
      <Alias>advancedSettings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>