<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1892c33e-8409-43ab-80a0-92628cbf84bc" Alias="subsite" Level="2">
  <Info>
    <Name>Subsite</Name>
    <Icon>icon-display color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Base</Folder>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2f049693-26e4-44f1-ac6a-fb72724c4d4c">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da53e7ee-644c-4195-b688-5ba9b4ffb5a8" SortOrder="0">linkPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7a78b218-d5f4-44e9-8501-161c66c6ed30</Key>
      <Name>Additional NavBar Links</Name>
      <Alias>additionalNavBarLinks</Alias>
      <Definition>5bfae967-5b7b-40ed-bd79-d937fc09f550</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="appearance/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09891d53-d33f-42fb-8deb-4ef6ff54ee71</Key>
      <Name>Footer Text</Name>
      <Alias>footerText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="appearance/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a41dc52-3263-49c7-80cb-4dc3f6920b6e</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page title appears in the navigation menu, the browser tab, and search engine results.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainContent">Main Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc5315ae-db2e-4069-837e-6f5f9895408c</Key>
      <Name>Show Top Bar</Name>
      <Alias>showTopBar</Alias>
      <Definition>8bb931fd-83e3-40f3-b590-9cc1fe7770bc</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="appearance/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1734f98-591c-4035-8e74-2a3219b8b57a</Key>
      <Name>Site Logo</Name>
      <Alias>siteLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Logo for the website]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="appearance/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a15c4f03-630d-4c3c-91fc-73d8675fc531</Key>
      <Name>SocialLinks</Name>
      <Alias>socialLinks</Alias>
      <Definition>5614e9b1-3462-40e3-a43d-7726aedfa51a</Definition>
      <Type>Umbraco.Community.Contentment.SocialLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="appearance/socialMedia">Social Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0adc80e7-c212-4e73-b844-811f00159ecb</Key>
      <Name>Top Bar Links</Name>
      <Alias>topBarLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="appearance/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>745ab0c9-e455-4413-8d26-6c6279963faa</Key>
      <Name>Widgets</Name>
      <Alias>widgets</Alias>
      <Definition>5a2ca282-d593-4e23-9bde-43cfe324c6d4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mainContent">Main Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>218dd578-e93f-478e-a79d-4daebe06b379</Key>
      <Caption>Main Content</Caption>
      <Alias>mainContent</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>268537fe-19c9-4a62-a98a-6edfd2c020ff</Key>
      <Caption>Social Media</Caption>
      <Alias>appearance/socialMedia</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>889ddaf6-1b90-4d31-9e1b-be462fbbcab8</Key>
      <Caption>Header</Caption>
      <Alias>appearance/header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8c0a2828-c279-4678-97a5-6bfc0599ae6e</Key>
      <Caption>Footer</Caption>
      <Alias>appearance/footer</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b8044346-88fc-4f07-8350-1493434ce63b</Key>
      <Caption>Appearance</Caption>
      <Alias>appearance</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>